<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="angular.min.js">

    </script>
  </head>
  <body ng-app ng-init="checked=true">
    Click me: <input type="checkbox" ng-model="checked" name="" value=""><br>
    <div class="">
      New: <input ng-if="checked" type="text" /><br>
    </div>
    <div class="">
      Read Only: <input ng-readonly="checked" value="this is read only" type="text" name="" /><br>
    </div>
    <div class="">
      Disabled: <input type="text" name="" value="this is Disabled." ng-disabled="checked" />
    </div>
  </body>
</html
